body {
    padding: 20px;
}
body * {
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox 28 and earlier*/
}
.clearfix {
    &:before {
      clear: both;
    }
    &:before,
    &:after {
      content: " ";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both;
    }
  }
.movie-container {
    width: 80%;
    margin: 0 auto;
    .movieBox {
        width: 33%;
        padding: 15px;
        float: left;
    }
}
.director-container {
    width: 80%;
    margin: 0 auto;
    padding-top:40px;
    .director-box {
        width: 33%;
        padding: 15px;
        float: left;
    }
}