body {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: black;
}

body * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox 28 and earlier*/
}

.clearfix:before, .category > ul:before {
  clear: both;
}

.clearfix:before, .category > ul:before, .clearfix:after, .category > ul:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.movie-container {
  width: 80%;
  margin: 0 auto;
}

.movie-container .movieBox {
  width: 33%;
  padding: 15px;
  float: left;
}

.director-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
}

.director-container .director-box {
  width: 33%;
  padding: 15px;
  float: left;
}

label {
  display: block;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#errMessage {
  color: red;
  font-weight: bold;
}

label {
  padding: 10px 0;
}

.category > ul > li {
  float: left;
  position: relative;
}

.category > ul > li > ul {
  position: absolute;
  top: 100%;
  left: 0px;
}

.category > ul > li > ul li {
  position: relative;
}

.category > ul > li > ul li ul {
  position: absolute;
  top: 0px;
  left: 100%;
}

.category > ul ul {
  display: none;
  background-color: #fff;
  white-space: nowrap;
  -webkit-box-shadow: 0px 0px 43px -4px #969696;
  -moz-box-shadow: 0px 0px 43px -4px #969696;
  box-shadow: 0px 0px 43px -4px #969696;
}

.category > ul li a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
}

.category > ul li:hover > ul {
  display: block;
}

.category > ul li:hover > a {
  color: red;
}
